mysql-variables-parser
examples/server-system-variables.html.50
examples/server-system-variables.html.51
examples/server-system-variables.html.55
examples/server-system-variables.html.56
examples/server-system-variables.html.57
